
.icon-users:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-star-1:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
